$-colors: (
  'primary': (
    // 50: #edeeeb,
    // 100: #d1d5c5,
    // 200: #edf2fb,
    // 300: #e2eafc,
    // 400: #d7e3fc,
    // 500: #ccdbfd,
    // 600: #c1d3fe,
    // 700: #b6ccfe,
    // 800: #abc4ff,
    // 900: #b8c0ff,
    // 950: #bbd0ff,
    50: #fef6e6,
    100: #fdf2e9,
    200: #fcf2e5,
    300: #fce7d9,
    400: #fce4d3,
    500: #fcd6c9,
    600: #fccfb5,
    700: #fcb99c,
    800: #fcaa8e,
    900: #fca67c,
    950: #fca26a,
    'base': #ff6a00,
  ),
  'success': (
    'base': #67c23a,
  ),
  'warning': (
    'base': #e6a23c,
  ),
  'danger': (
    'base': #f56c6c,
  ),
  'error': (
    'base': #f56c6c,
  ),
  'info': (
    'base': #909399,
  ),
);

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: $-colors
);

:root {
  --el-text-color-placeholder: $primary;
  --el-color-primary: #ff6a00;
  --el-color-primary-light-3: #ff8e4d;
  --el-color-primary-light-7: #ffcbb6;
  --el-color-primary-light-9: #fdf2e9;
}
