@font-face {
  font-family: 'iconfont'; /* Project id 4220056 */
  src:
    url('iconfont.woff2?t=1722303537959') format('woff2'),
    url('iconfont.woff?t=1722303537959') format('woff'),
    url('iconfont.ttf?t=1722303537959') format('truetype');
}

.iconfont {
  display: inline-block;
  font-family: 'iconfont';
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_inquiry_air:before {
  content: '\e67a';
}

.icon-icon_inquiry_location:before {
  content: '\e67b';
}

.icon-icon_inquiry_ship:before {
  content: '\e67c';
}

.icon-icon_top:before {
  content: '\e66f';
}

.icon-icon_help:before {
  content: '\e670';
}

.icon-icon_footer_gzh:before {
  content: '\e671';
}

.icon-icon_footer_facebook:before {
  content: '\e672';
}

.icon-icon_footer_in:before {
  content: '\e673';
}

.icon-icon_footer_youtube:before {
  content: '\e674';
}

.icon-icon_footer_tiktok:before {
  content: '\e675';
}

.icon-icon_footer_ins:before {
  content: '\e676';
}

.icon-icon_footer_twitter:before {
  content: '\e677';
}

.icon-icon_footer_sph:before {
  content: '\e678';
}

.icon-icon_activity:before {
  content: '\e679';
}

.icon-icon_in:before {
  content: '\e66a';
}

.icon-icon_footer_weibo:before {
  content: '\e66b';
}

.icon-icon_service:before {
  content: '\e66c';
}

.icon-icon_footer_xhs:before {
  content: '\e66d';
}

.icon-icon_QR:before {
  content: '\e66e';
}

.icon-building_5_line:before {
  content: '\e63e';
}

.icon-a-right_line2:before {
  content: '\e63c';
}

.icon-a-left_line1:before {
  content: '\e63d';
}

.icon-a-Group336:before {
  content: '\e63b';
}

.icon-a-download_2_line1:before {
  content: '\e639';
}

.icon-a-invite_fill1:before {
  content: '\e63a';
}

.icon-light:before {
  content: '\e637';
}

.icon-a-2:before {
  content: '\e638';
}

.icon-icon_noaccount:before {
  content: '\e668';
}

.icon-icon_haveaccount:before {
  content: '\e669';
}

.icon-wechat_fill:before {
  content: '\e636';
}

.icon-youtube_fill1:before {
  content: '\e635';
}

.icon-layout_4_fill:before {
  content: '\e634';
}

.icon-building_4_fill:before {
  content: '\e633';
}

.icon-a-home_5_fill1:before {
  content: '\e632';
}

.icon-a-building_3_line1:before {
  content: '\e62c';
}

.icon-a-sale_fill1:before {
  content: '\e62e';
}

.icon-selected:before {
  content: '\e62f';
}

.icon-a-location_line1:before {
  content: '\e630';
}

.icon-a-fenzhi_branch-one1:before {
  content: '\e631';
}

.icon-a-service_fill11:before {
  content: '\e62d';
}

.icon-nor:before {
  content: '\e62a';
}

.icon-nor-1:before {
  content: '\e62b';
}

.icon-icon_datadown:before {
  content: '\e665';
}

.icon-a-search_line1:before {
  content: '\e629';
}

.icon-a-Vector58Stroke:before {
  content: '\e628';
}

.icon-tuceng_1:before {
  content: '\e627';
}

.icon-a-social_whatsapp1:before {
  content: '\e626';
}

.icon-LM7591R8VFVLK:before {
  content: '\e625';
}

.icon-a-anchor_fill21:before {
  content: '\e622';
}

.icon-a-SkypeVectorSVGIcon16-SVGRepo11:before {
  content: '\e621';
}

.icon-a-facebook_fill1:before {
  content: '\e623';
}

.icon-a-whatsapp_fill1:before {
  content: '\e624';
}

.icon-youtube_fill:before {
  content: '\e620';
}

.icon-a-16:before {
  content: '\e61f';
}

.icon-a-qq_fill1:before {
  content: '\e61c';
}

.icon-phone:before {
  content: '\e61d';
}

.icon-mail1:before {
  content: '\e61e';
}

.icon-a-SkypeVectorSVGIcon16-SVGRepo1:before {
  content: '\e619';
}

.icon-a-wechat_fill1:before {
  content: '\e61a';
}

.icon-a-linkedin_fill1:before {
  content: '\e61b';
}

.icon-a-check_fill1:before {
  content: '\e618';
}

.icon-position:before {
  content: '\e615';
}

.icon-a-alert_fill1:before {
  content: '\e616';
}

.icon-a-edit_3_fill1:before {
  content: '\e617';
}

.icon-a-close_fill1:before {
  content: '\e613';
}

.icon-a-add_fill11:before {
  content: '\e614';
}

.icon-Frame-out-if:before {
  content: '\e666';
}

.icon-Frame-in-if:before {
  content: '\e667';
}

.icon-icon-linkedin-if:before {
  content: '\e655';
}

.icon-building_1_fill-if:before {
  content: '\e656';
}

.icon-Transporter-full-if:before {
  content: '\e657';
}

.icon-message_4_fill-if:before {
  content: '\e658';
}

.icon-Airplane-full-if:before {
  content: '\e659';
}

.icon-icon-anchor-if:before {
  content: '\e65a';
}

.icon-Vector-if:before {
  content: '\e65b';
}

.icon-Cruise-empty-if:before {
  content: '\e65c';
}

.icon-icon_arrow_left-if:before {
  content: '\e65d';
}

.icon-Airplane-empty-if:before {
  content: '\e65e';
}

.icon-BlackList_Web-if:before {
  content: '\e65f';
}

.icon-star_fill-if:before {
  content: '\e660';
}

.icon-icon_time-if:before {
  content: '\e661';
}

.icon-calendar_fill-if:before {
  content: '\e662';
}

.icon-link_2_fill-if:before {
  content: '\e663';
}

.icon-box_2_fill-if:before {
  content: '\e664';
}

.icon-BlackList_Country-if:before {
  content: '\e649';
}

.icon-icon-avatar-if:before {
  content: '\e64a';
}

.icon-Phone-if:before {
  content: '\e64b';
}

.icon-a-BlackList_Address-if:before {
  content: '\e64c';
}

.icon-icon-ins-if:before {
  content: '\e64d';
}

.icon-Cruise-full-if:before {
  content: '\e64e';
}

.icon-Transporter-empty-if:before {
  content: '\e64f';
}

.icon-E-mail-if:before {
  content: '\e650';
}

.icon-chart_bar_fill-if:before {
  content: '\e651';
}

.icon-icon-Twitter-if:before {
  content: '\e652';
}

.icon-facebook-if:before {
  content: '\e653';
}

.icon-icon_arrow_right-if:before {
  content: '\e654';
}

.icon-icon_phone1:before {
  content: '\e645';
}

.icon-mail:before {
  content: '\e646';
}

.icon-logo1:before {
  content: '\e644';
}
